@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5rem;
  }
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
    border-radius: 8px;
    background-clip: padding-box;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.h_100-6{
  height: calc(100% - 6rem);
}

.h_100-4{
  height: calc(100% - 4rem);
}


.h_100-2\.5{
  height: calc(100% - 2.5rem);
}

.h_100-1{
  height: calc(100% - 1rem);
}

h2{
  @apply flex justify-center content-center
}

input{
  @apply border rounded
}
input[type="number"]{
  @apply border rounded border-gray-400;

}

:root{
  --primary-dark-blue: #1A3A5B;
  --night-blue: #1C3D5A;         
  --primary-white: #FFFFFF;
  --primary-gray: #F2F2F2;
  --accent-orange: #F5A623;
  --accent-green: #7ED321;
  --dark-green: #2C5E2E;  
  --gold: #D4A537;        
  --sandstone-beige: #E5C99D;   
  --light-parchment: #F8F5E4;    

  --primary-light-blue: #4A90E2;
}