<div class="p-8 h_100-4 space-y-2">
  <h1 class="header">Events</h1>
  <div class="flex flex-wrap items-center space-x-2">
    <input placeholder="search" type="text" [(ngModel)]="search"
      class="w-64 p-2 border rounded" />
    @if(search!=""){
    <button (click)="search = ''" class="rounded-md">x</button>
    }
    <button (click)="openCreateModal()" class="w-10 h-10 ml-2 bg-[var(--action-green)] hover:bg-[var(--accent-green)] rounded-md">
      <b>+</b>
    </button>
    <h2 class="text-lg text-center">Only upcoming</h2>
    <input class="rounded-md ml-2" type="checkbox" [(ngModel)]="onlyUpcoming" (change)="refresh()"/>
  </div>

  <div class="flex flex-wrap flex-1 overflow-y-scroll justify-between" style="height: calc(100% - 4rem);">
    @if (events$ | async; as events) {
    @for (event of events$ | async; track event) {
    @if (normalizeString(event.name).indexOf(normalizeString(search)) != -1) {
    <section (click)="openEditModal(event.id)" [class]="{'bg-[var(--sandstone-beige)]' : ended(event.end)}" class="bg-[var(--light-parchment)] event">
      <h2 class="text-center">{{ event.name }}</h2>
      <div >
        <h2 class="font-semibold">Place: </h2>
        <h2>{{event.place}}</h2>
      </div><div >
        <h2 class="font-semibold">Person responsible: </h2>
        <h2>{{(event.responsiblePerson! | person:"fullName")}}</h2>
      </div>
      <div >
        <h2 class="font-semibold">Number of Participants: </h2>
        <h2>{{(event.participants.length)}}</h2>
      </div>
      <div >
        <h2 class="font-semibold">Price per person:</h2>
        <h2>{{getEventPricePerPerson(event)}},-</h2>
      </div>
    </section>
    }
    }
    }
    @else {
    Žádná data 😦
    }
  </div>
</div>

  @if (activeCreateModal) {
  <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
    <div class="w-5/6 p-6 pb-2 bg-white rounded-lg shadow-lg sm:w-3/6 md:w-2/6 h-fit">
      <div class="flex flex-row">
        <h2 class="flex-1 mb-4 text-lg font-semibold text-center text-gray-700">Create Event</h2>
        <button class="h-fit" (click)="closeCreateModal()">x</button>
      </div>
      <form #eventForm="ngForm" (ngSubmit)="checkForm(eventForm)" class="flex flex-col h-full inputs">

        <div class="flex flex-col flex-1 mx-1">
          <label>Event Name</label>
          <input minlength="3" class="rounded" type="text" name="name" [(ngModel)]="CreatingEvent.name" #name="ngModel"
            required>
          @if(name.invalid && name.touched){
          <p class="text-red-500">
            Event name must be at least 3 characters long.
          </p>
          }
        </div>

        <div class="flex flex-col flex-1 mx-1">
          <label>Description</label>
          <input minlength="3" class="rounded" type="text" name="description" [(ngModel)]="CreatingEvent.description"
            #description="ngModel" required>
          @if(description.invalid && description.touched){
          <p class="text-red-500">
            Description must be at least 3 characters long.
          </p>
          }
        </div>

        <div class="flex flex-col flex-1 mx-1">
          <label>Place</label>
          <input class="rounded" type="text" name="place" [(ngModel)]="CreatingEvent.place" #place="ngModel" required>
          @if(place.invalid && place.touched){
          <p class="text-red-500">
            Place is required.
          </p>
          }
        </div>

        <div class="flex flex-col flex-1 mx-1">
          <label>Responsible Person</label>
          <select class="rounded" name="responsiblePersonId" [(ngModel)]="CreatingEvent.responsiblePersonId" required>
            <option value="" selected>none</option>
            @for(person of persons$ | async; track person){
            <option [value]="person.id">{{person.firstName}} {{person.lastName}}</option>
            }
          </select>
        </div>
        <div class="flex flex-col justify-between md:flex-row">
          <div class="flex flex-col flex-1 my-1 md:max-w-[50%] md:my-0 mx-1">
            <label>Start Date</label>
            <input class="rounded" type="date" name="start" [(ngModel)]="CreatingEvent.start" #start="ngModel" required>
            @if(start.invalid && start.touched){
            <p class="text-red-500">
              Start date is required.
            </p>
            }
          </div>

          <div class="flex flex-col flex-1 my-1 md:max-w-[50%] md:my-0 mx-1">
            <label>End Date</label>
            <input class="rounded" type="date" name="end" [(ngModel)]="CreatingEvent.end" #end="ngModel" required>
            @if(end.invalid && end.touched){
            <p class="text-red-500">
              End date is required.
            </p>
            }
          </div>
        </div>

        <div class="flex justify-center m-2">
          <button class="p-2 bg-[var(--action-green)] hover:bg-[var(--accent-green)] rounded-md" type="submit">
            Create Event
          </button>
        </div>
      </form>
    </div>
  </div>
  }

  @if (activeEditModal) {
  <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-10">
    <div class="w-4/5 p-6 bg-white rounded-lg shadow-lg h-4/5 flex">
      <div class="flex flex-col w-full">
        <div class="flex flex-row mb-2">
          <h2 class="w-7/12 text-lg font-semibold text-center text-gray-700">Editing Event</h2>
          <div class="mx-8 flex-1">
            <button 
            class="text-lg font-semibold text-center hover:bg-[var(--accent-green)] p-1 rounded-t-md" 
            [class]="editTab==1 ? 'bg-[var(--action-green)]':''" 
            (click)="editTab = 1">
              Participants
            </button>
            <button 
            class="text-lg font-semibold text-center hover:bg-[var(--accent-green)]  p-1 rounded-t-md" 
            [class]="editTab==2 ? 'bg-[var(--action-green)]':''" 
            (click)="editTab = 2">
              Foods
            </button>
          </div>
          <button class="h-fit" (click)="closeEditModal()">x</button>
        </div>
        <div class="h_100-4 flex">
        <form #eventForm="ngForm" class="editing_inputs flex flex-wrap w-7/12">
          <div class="flex flex-col w-full">
            <label>Event Name</label>
            <div class="flex w-full">
              <input type="text" class="rounded flex-1" name="name" [(ngModel)]="editingEvent$.name" #name="ngModel"
                required minlength="3" (blur)="onBlur('name', name.valid!)">
              <button class="p-2 ml-2 bg-red-500 rounded-md" type="button" (click)="deleteEvent()">Delete</button>
            </div>
            @if(name.invalid && name.touched){
            <p class="text-red-500">Name is required (min. 3 characters).</p>
            }
          </div>
          <div class="w-full flex flex-row h_100-2.5 space-x-2">
            <div class="flex flex-col h-full w-3/5">
              <label>Description</label>
              <textarea class="rounded h_100-1 " name="description" [(ngModel)]="editingEvent$.description" #description="ngModel"
                required (blur)="onBlur('description', description.valid!)"></textarea>
              @if(description.invalid && description.touched){
              <p class="text-red-500">Description is required.</p>
              }
            </div>
            <div class="flex flex-col w-2/5">
                <div class="flex flex-col w-full">
                  <label>Place</label>
                  <input type="text" class="rounded w-full" name="place" [(ngModel)]="editingEvent$.place" #place="ngModel"
                    required minlength="3" (blur)="onBlur('place', place.valid!)">
                  @if(place.invalid && place.touched){
                  <p class="text-red-500">Place is required (min. 3 characters).</p>
                  }
                </div>
              
                <div class="flex flex-col w-full">
                  <label>Responsible Person</label>
                  <select class="rounded w-full" name="responsiblePersonId" [(ngModel)]="editingEvent$.responsiblePerson!.id"
                    #responsiblePersonId="ngModel" required>
                    <option value="" selected>None</option>
                    @for(person of persons$ | async; track person){
                    <option [value]="person.id">{{ person.firstName }} {{ person.lastName }}</option>
                    }
                  </select>
                  @if(responsiblePersonId.invalid && responsiblePersonId.touched){
                  <p class="text-red-500">Responsible person is required.</p>
                  }
                </div>
            
                <div class="flex flex-col w-full">
                  <label>Start Date</label>
                  <input type="date" class="rounded w-full" name="start" [(ngModel)]="editingEvent$.start" #start="ngModel"
                    required (blur)="onBlur('start', start.valid!)">
                  @if(start.invalid && start.touched){
                  <p class="text-red-500">Start date is required.</p>
                  }
                </div>
              
                <div class="flex flex-col w-full">
                  <label>End Date</label>
                  <input type="date" class="rounded w-full" name="end" [(ngModel)]="editingEvent$.end" #end="ngModel" required
                    (blur)="onBlur('end', end.valid!)">
                  @if(end.invalid && end.touched){
                  <p class="text-red-500">End date is required.</p>
                  }
                </div>
                <div class="flex flex-col w-full">
                  <label>Estimated price per person:</label>
                  <p>{{getEventPricePerPerson()}},-</p>
                </div>
            </div>
          </div>
        </form>
        <div class="flex-1 flex flex-col w-5/12 pl-4">
          @switch(editTab){
            @default {
              <div class="h-full">
                <div class="flex flex-wrap justify-center items-center px-4 pr-6 mb-2">
                  <input placeholder="search" type="text" [(ngModel)]="searchPersons" class="flex-1 border rounded" />
                  @if(searchPersons != ''){
                  <button (click)="searchPersons = ''" class="ml-2 rounded-md">x</button>
                  }
                  <button (click)="createPerson()" class="w-10 h-10 ml-2 bg-[var(--action-green)] hover:bg-[var(--accent-green)] rounded-md">
                    <b>+</b>
                  </button>
                </div>
                <div class="select-item-wraper h_100-2.5">

                  @for (person of editingEvent$.participants; track person.id) {
                      @if (normalizeString(person.firstName + ' ' + person.lastName).indexOf(normalizeString(searchPersons)) != -1) {
                          <section class="select-item">
                            <h2 class="flex-1 overflow-hidden max-w-8/12" (click)="removePersonFromEvent(person.id)">{{ person.firstName }}
                              {{ person.lastName }}</h2>
                            <button class="navigation" (click)="editPerson(person.id)"><img src="assets/edit.svg"
                                class="h-5/6"></button>
                          </section>
                      }
                    }
                    @if(editingEvent$.participants.length != 0)
                    {
                      <div class="mx-10 border border-[var(--sandstone-beige)]"></div>
                    }
                  @if (!((persons$ | async)?.length == 0)) {
                    @for (person of persons$ | async; track person.id) {
                      @if (normalizeString(person | person:"fullName").indexOf(normalizeString(searchPersons)) != -1) {
                        @if(EditingEventContainsPerson(person.id) == undefined){
                          <section class="bg-[var(--light-parchment)] select-item">
                            <h2 class="flex-1 overflow-hidden max-w-8/12" (click)="addPersonToEvent(person.id)">{{ person.firstName }}
                              {{ person.lastName }}</h2>
                            <button class="navigation" (click)="editPerson(person.id)"><img src="assets/edit.svg"
                                class="h-5/6"></button>
                          </section>
                        }
                      }
                    }
                  } @else {
                  Žádná data 😦
                  }
                </div>
              </div>
            }
            @case (2) {
              <div class="h-full">
                <div class="flex flex-wrap justify-center px-4 pr-6 mb-2">
                  <input placeholder="search" type="text" [(ngModel)]="searchDishes" class="flex-1 border rounded" />
                  @if(searchDishes != ''){
                  <button (click)="searchDishes = ''" class="ml-2 rounded-md">x</button>
                  }
                  <button (click)="createFood()" class="w-10 h-10 ml-2 bg-[var(--action-green)] hover:bg-[var(--accent-green)] rounded-md">
                    <b>+</b>
                  </button>
                </div>
                <div class="select-item-wraper h_100-2.5">

                  @for (food of editingEvent$.dishes; track food.id) {
                      @if (normalizeString(food.name).indexOf(normalizeString(searchDishes)) != -1) {
                          <section class="select-item">
                            <h2 class="flex-1 overflow-hidden max-w-8/12" (click)="removeDishFromEvent(food.id)">{{ food.name }}</h2>
                            <button class="navigation" (click)="editFood(food.id)"><img src="assets/edit.svg"
                                class="h-5/6"></button>
                          </section>
                      }
                    }
                    
                    @if(editingEvent$.dishes.length != 0)
                    {
                      <div class="mx-10 border border-[var(--sandstone-beige)]"></div>
                    }
                  @if (!((dishes$ | async)?.length == 0)) {
                    @for (food of dishes$ | async; track food.id) {
                      @if (normalizeString(food.name).indexOf(normalizeString(searchDishes)) != -1) {
                        @if(EditingEventContainsDish(food.id) == undefined){
                          <section class="bg-[var(--light-parchment)] select-item">
                            <h2 class="flex-1 overflow-hidden max-w-8/12" (click)="addDishToEvent(food.id)">{{ food.name }}</h2>
                            <button class="navigation" (click)="editFood(food.id)"><img src="assets/edit.svg"
                                class="h-5/6"></button>
                          </section>
                        }
                      }
                    }
                  } @else {
                  Žádná data 😦
                  }
                </div>
              </div>            
            }
          }
        </div>
        </div>
      </div>
    </div>
  </div>
  }