<section class="flex flex-col justify-center items-center text-Black h-full bg-no-repeat bg-[var(--light-parchment)] bg-[url('/assets/skarabeus_logo.png')] bg-blend-overlay bg-contain">
  <div class="border-2 p-5 rounded-3xl w-96 bg-white space-y-6 shadow-md flex items-center justify-center flex-col">
    <h2 class="text-xl font-bold text-center text-black">Change Password</h2>
    @if (lastError$ != null) {
      <h2 class="text-red-600 text-center">
        {{lastError$.errors["errorMessage"][0]}}
      </h2>
    }
    @else if(acountCreation){
      <h2 class="text-lg text-center text-black">
        Email was confirmed succesfuly, after seting your password, you can go to the login page and login
      </h2>      
    }

    <form #userForm="ngForm" (ngSubmit)="tryValidate(userForm)" class="flex w-full flex-col h-full inputs">
        <!-- password -->
        <div class="flex flex-col flex-1 mx-1">
          <label [class.text-red-600]="password.invalid && password.touched">
            Password
            @if(password.invalid && password.touched){
            must be at least 8 characters, with at least 1 letter and 1 number.
            }
          </label>

          <input class="rounded border p-2" type="password" name="password" [(ngModel)]="model.password"
            #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{6,}$">
        </div>
        <!-- confirm password -->
        <div class="flex flex-col flex-1 mx-1">
          <label [class.text-red-600]="passwordMismatch && confirmPassword.touched">
            Confirm Password
            @if(passwordMismatch && confirmPassword.touched){
            does not match
            }
          </label>

          <input class="rounded border p-2" type="password" name="confirmPassword" [(ngModel)]="passwordCheck"
            #confirmPassword="ngModel" required (input)="checkPasswords()">
        </div>
        <div class="flex justify-center m-2">
          <button type="submit" class="text-white bg-[var(--action-green)] hover:bg-[var(--accent-green)] font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">
            Change Password
          </button>
        </div>
      </form>
  </div>
</section>