<main class="grid-cols-2 grid" style="height: calc(100% - 4rem);">
  <!--news-->
  <section class="sectionBox bg-slate-400">
    <div class="Box bg-slate-700">
      info box
    </div>
    <div class="Box bg-slate-700">
      info box
    </div>
  </section>
  <!--Events-->
  <section class="sectionBox bg-slate-500">
    <div class="Box bg-slate-700">
      info box
    </div>
    <div class="Box contentBox bg-slate-700">
      info box
    </div>
  </section>
  <!--Food-->
  <section class="sectionBox bg-slate-600">
    <div class="Box bg-slate-700">
      info box
    </div>
    <div class="Box bg-slate-700">
      info box
    </div>    
  </section>
  <!--People-->
  <section class="sectionBox bg-slate-300">
    <div class="Box bg-slate-700">
      info box
    </div>
    <div class="Box bg-slate-700">
      info box
    </div>    
  </section>
</main>
