.user{
    @apply border p-5 shadow my-3 w-56 h-32 flex flex-col rounded-lg ;
    transition: transform 0.3s ease-in-out;
  }
  .user>p{
    @apply flex-1 break-words text-wrap overflow-hidden
  }
  
  .user button{
    @apply border pl-3 pr-3 rounded-md
  }
  
  .user:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(95, 95, 95, 0.5);
    transform: translateY(-0.5rem);
  }
  
  .inputs>input,.inputs>select{
    @apply w-full
  }
  .inputs>*{
    @apply my-1
  }
  
  .editing_inputs>*{
    @apply w-1/2 flex flex-col flex-1 mx-1
  }
  .editing_inputs{
    @apply justify-between content-between
  }
  