.dish{
    @apply border p-5 shadow my-3 w-56 h-64 flex flex-col rounded-lg;
    transition: transform 0.3s ease-in-out;
}
.dish>p{
    @apply flex-1 break-words text-wrap overflow-hidden 
}

.dish button{
    @apply border pl-3 pr-3 rounded-md
}

.dish:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(95, 95, 95, 0.5);
    transform: translateY(-0.5rem);
}

.modal-buttons>button{
    @apply p-2 m-2 rounded-md
}

.ingredient{
    @apply border p-2 shadow mb-5 mx-10 w-full h-12 flex flex-row rounded-lg
}

.ingredient>*{
    @apply flex-1
}

.ingredient button{
    @apply border pl-3 pr-3 rounded-md
}