<button (click)="activeCreateDrawer()" class="bg-blue-500">edit</button>
<div class="flex flex-wrap justify-evenly">
@if(!((ingredients$ | async)?.length == 0)){
      @for(ingredient of ingredients$|async; track ingredient){
        <section class="ingredient">
          <h2 class="text-center">{{ingredient.name}} | {{ingredient.priceForUnit}}</h2>
          <div class="flex flex-row justify-around">
            <button (click)="activeEditDrawer(ingredient)" class="bg-blue-500">edit</button>
            <button class="bg-red-600" (click)="removeIngredient(ingredient.id)">delete</button>
          </div>
      </section>
      }
}
@else {
  Žádná data 😦
}
</div>

<div 
      id="drawer-ingredient"
      class="fixed bg-slate-300  top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full lg:w-1/4 sm:w-1/2 w-full" 
      tabindex="-1" 
      aria-labelledby="drawer-right-label">

 <div class="rounded-lg p-6 w-auto ">
  <h3 class="text-lg font-semibold text-gray-700 mb-4">{{ drawerMode }}</h3>

  <label class="block text-sm text-gray-600">Name</label>
  <input type="text" [(ngModel)]="modalName" class="w-full p-2 border rounded mb-3" />
  
  <label class="block text-sm text-gray-600">price for unit</label>
  <input type="text" [(ngModel)]="modalPrice" class="w-full p-2 border rounded mb-3" />

  <div class="flex justify-between mt-4" [ngSwitch]="drawerMode" >
    <button class="bg-gray-500 text-white px-4 py-2 rounded" (click)="closeDrawer()">Cancel</button>
    <button *ngSwitchCase="'Editing'" class="bg-blue-500 text-white px-4 py-2 rounded" (click)="update()">Save</button>
    <button *ngSwitchCase="'Creating'" class="bg-blue-500 text-white px-4 py-2 rounded" (click)="create()">Create</button>
  </div>
</div>
</div>